@using Atsumeru.Extensions
@model Atsumeru.Models.Administration.AdministrationModel

<div>
    <ul>
        <li><a href="/Administration">Administration</a></li>
    </ul>
</div>

@section scripts {
}